<head>
<style>
* {
  box-sizing: border-box;
}

/*BACKGROUND: E6E6FA*/
/*LINK COLOR: 4169e1*/

/* Style the top navigation bar */
.navbar {
  overflow: hidden;
  background: #E6E6FA;
}

/* Style the navigation bar links */
.navbar a {
  float: left;
  display: block;
  color: #4169e1;
  text-align: left;
  text-decoration: none;
  font-weight: bold;
  padding-top: 20px;
}

/* Change color on hover */
.navbar a:hover {
  background-color: #E6E6FA;
  text-decoration: underline;
}

/* Style the body */
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
  max-width: 600px;
  font-size: 18px;
  line-height: 1.3em;
  background: #E6E6FA;
}

a{
  color: #4169e1;
  text-decoration: none;
  background: #E6E6FA;
}

a:hover{
  text-decoration: underline;
  background: #E6E6FA;
}

h2{
  text-align: center;
  font-size: 30px;
}

h4{
  font-style: italic;
}

li{
  padding-left: 1em;
  padding-bottom: 0.5em;
}

</style>
</head>